# dependencies
node_modules/
node_modules/ .next/ .env .env*.local tsconfig.tsbuildinfo
# Next.js
.next/
out/

# production build
build/
dist/

# env files - contient vos secrets (DATABASE_URL, AUTH_SECRET, etc.)
.env
.env*.local

# Prisma
prisma/migrations/dev/

# TypeScript
tsconfig.tsbuildinfo
next-env.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Netlify
.netlify/
